---

- name: Install Slurm controller packages
  become: yes
  package:
    name: "{{ __slurm_packages.slurmctld }}"
    state: "{{ 'latest' if slurm_upgrade else 'present' }}"

- name: Create slurm state directory
  become: yes
  file:
    path: "{{ __slurm_config_merged.StateSaveLocation }}"
    owner: "{{ __slurm_user_name }}"
    group: "{{ __slurm_group_name }}"
    mode: 0755
    state: directory
  when: slurm_create_dirs
  notify:
    - reload slurmctld

- name: Create slurm log directory
  become: true
  file:
    path: "{{ __slurm_config_merged.SlurmctldLogFile | dirname }}"
    owner: "{{ __slurm_user_name }}"
    group: "{{ __slurm_group_name }}"
    mode: 0755
    state: directory
  when: slurm_create_dirs and __slurm_config_merged.SlurmctldLogFile != omit

- name: Create slurm pid directory
  become: true
  file:
    path: "{{ __slurm_config_merged.SlurmctldPidFile | dirname }}"
    owner: "{{ __slurm_user_name }}"
    group: "{{ __slurm_group_name }}"
    mode: 0755
    state: directory
  when: slurm_create_dirs and __slurm_config_merged.SlurmctldPidFile != omit

- name: Include config dir creation tasks
  include_tasks: _inc_create_config_dir.yml
  when: slurm_create_dirs

- name: Install extra execution host configs
  become: yes
  template:
    src: "{{ item.template }}"
    dest: "{{ slurm_config_dir }}/{{ item.name }}"
    backup: yes
  with_items:
    - name: cgroup.conf
      config: slurm_cgroup_config
      template: "generic.conf.j2"
    - name: gres.conf
      config: slurm_gres_config
      template: "gres.conf.j2"
  loop_control:
    label: "{{ item.name }}"
  when: item.config in vars
  notify:
    - reload slurmctld
