---

- name: Install Slurm execution host packages
  package:
    name: "{{ __slurm_packages.slurmd }}"
    state: "{{ 'latest' if slurm_upgrade else 'present' }}"

- name: Create slurm spool directory
  file:
    path: "{{ __slurm_config_merged.SlurmdSpoolDir }}"
    owner: root
    group: root
    mode: 0755
    state: directory
  when: slurm_create_dirs
  notify:
    - reload slurmd

- name: Create slurm log directory
  file:
    path: "{{ __slurm_config_merged.SlurmdLogFile | dirname }}"
    owner: "{{ __slurm_user_name }}"
    group: "{{ __slurm_group_name }}"
    mode: 0755
    state: directory
  when: slurm_create_dirs and __slurm_config_merged.SlurmdLogFile != omit

- name: Include config dir creation tasks
  include_tasks: _inc_create_config_dir.yml
  when: slurm_create_dirs

- name: Install extra execution host configs
  template:
    src: "{{ item.template }}"
    dest: "{{ slurm_config_dir }}/{{ item.name }}"
    backup: yes
  with_items:
    - name: cgroup.conf
      config: slurm_cgroup_config
      template: "generic.conf.j2"
    - name: gres.conf
      config: slurm_gres_config
      template: "gres.conf.j2"
  loop_control:
    label: "{{ item.name }}"
  when: item.config in vars
  notify:
    - reload slurmd
