---

- name: Install Slurm controller packages
  ansible.builtin.package:
    name: "{{ __slurm_packages.slurmctld }}"
    state: "{{ 'latest' if slurm_upgrade else 'present' }}"
  notify:
    - Restart slurmctld

- name: Create slurm state directory
  ansible.builtin.file:
    path: "{{ __slurm_config_merged.StateSaveLocation }}"
    owner: "{{ __slurm_user_name }}"
    group: "{{ __slurm_group_name }}"
    mode: 0700
    state: directory
  when: slurm_create_dirs
  notify:
    - Reload slurmctld

- name: Create slurm log directory
  ansible.builtin.file:
    path: "{{ __slurm_config_merged.SlurmctldLogFile | dirname }}"
    owner: "{{ __slurm_user_name }}"
    group: "{{ __slurm_group_name }}"
    mode: 0755
    state: directory
  when: slurm_create_dirs and __slurm_config_merged.SlurmctldLogFile != omit

- name: Add slurmctld service
  ansible.builtin.copy:
    src: slurmctld.service
    dest: /etc/systemd/system/slurmctld.service
    owner: root
    group: root
    mode: 0644
  when: slurm_configure_systemd
  notify:
    - Restart slurmctld

- name: Include config dir creation tasks
  ansible.builtin.include_tasks: _inc_create_config_dir.yml
  when: slurm_create_dirs

- name: Include extra config creation tasks
  ansible.builtin.include_tasks: _inc_extra_configs.yml

- name: Include job_submit.lua installation tasks
  ansible.builtin.include_tasks: job_submit_lua.yml
  when: slurm_job_submit_lua is defined

- name: Fail if slurm_topology_config is set but TopologyPlugin is not defined
  ansible.builtin.fail:
    msg: "slurm_topology_config is set, but TopologyPlugin is not defined in slurm_config. Please set TopologyPlugin (e.g., 'topology/tree')."
  when:
    - slurm_topology_config is defined
    - (slurm_config.TopologyPlugin is not defined) or (slurm_config.TopologyPlugin | length == 0)

- name: Deploy topology.conf if slurm_topology_config is defined
  ansible.builtin.copy:
    content: "{{ slurm_topology_config }}"
    dest: "{{ slurm_config_dir }}/topology.conf"
    owner: root
    group: root
    mode: 0644
  when:
    - slurm_topology_config is defined
