---
- name: Restart munge
  ansible.builtin.service:
    name: munge
    state: restarted

- name: Reload slurmd
  ansible.builtin.service:
    name: "{{ slurmd_service_name }}"
    state: reloaded
  when: "slurm_start_services and ('slurmexechosts' in group_names or 'exec' in slurm_roles)"

- name: Restart slurmd
  ansible.builtin.systemd:
    name: "{{ slurmd_service_name }}"
    state: restarted
    masked: no
    enabled: yes
    daemon_reload: yes
  when: "slurm_start_services and ('slurmexechosts' in group_names or 'exec' in slurm_roles)"

- name: Reload slurmctld
  ansible.builtin.service:
    name: "{{ slurmctld_service_name }}"
    state: reloaded
  when: "slurm_start_services and ('slurmservers' in group_names or 'controller' in slurm_roles)"

- name: Restart slurmctld
  ansible.builtin.systemd:
    name: "{{ slurmctld_service_name }}"
    state: restarted
    masked: no
    enabled: yes
    daemon_reload: yes
  when: "slurm_start_services and ('slurmservers' in group_names or 'controller' in slurm_roles)"

- name: Restart slurmdbd
  ansible.builtin.systemd:
    name: "{{ slurmdbd_service_name }}"
    state: restarted
    masked: no
    enabled: yes
    daemon_reload: yes
  when: "slurm_start_services and ('slurmservers' in group_names or 'controller' in slurm_roles)"

- name: Reload slurmdbd
  ansible.builtin.service:
    name: "{{ slurmdbd_service_name }}"
    state: reloaded
  when: "slurm_start_services and ('slurmdbdservers' in group_names or 'dbd' in slurm_roles)"
