##
# Slurm Logrotate Configuration
##
# TODO: this ignores the actual *LogFile values
{{ '/var/log/slurm-llnl' if __slurm_debian else '/var/log/slurm' }}/*.log {
	compress
	missingok
	nocopytruncate
	nocreate
	nodelaycompress
	nomail
	notifempty
	noolddir
	rotate 5
	sharedscripts
	size=32M
	create 640 slurm root
	postrotate
		for daemon in $(/usr/bin/scontrol show daemons)
		do
			killall -SIGUSR2 $daemon
		done
	endscript
}
