##
## This file is maintained by Ansible - ALL MODIFICATIONS WILL BE REVERTED
##

{% if 'ControlMachine' not in __slurm_config_merged and 'SlurmctldHost' not in __slurm_config_merged %}
# Default, define SlurmctldHost or ControlMachine to override
ControlMachine=localhost
{% endif %}

# Configuration options
{% for key in __slurm_config_merged | sort %}
{% if __slurm_config_merged[key] %}
{{ key }}={{ __slurm_config_merged[key] }}
{% endif %}
{% endfor %}

# Nodes
{% for i in slurm_nodes %}
NodeName={{ i.name }}{% for k in i | sort %} {{ k }}={{ i[k] }}{% endfor %}
{% else %}
NodeName=localhost State=UNKNOWN
{% endfor %}


# Partitions
{% for i in slurm_partitions %}
PartitionName={{ i.name }}{% for k in i | sort %} {{ k }}={{ i[k] }}{% endfor %}
{% else %}
PartitionName=debug Default=YES Nodes={{ slurm_nodes[0] | default('localhost') }} State=UP
{% endfor %}
